.header{
    height: 7.5rem;
    display: flex;
    align-items:center;
    width: 100%;
    position: relative;
    padding: 0 10% 0 10%;
    justify-content: space-between;
}
.background {
  background-image: url('../assets/mobile/bg-pattern-header.svg');
  background-size: cover;
  height: 10rem;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-repeat: no-repeat;        
}
.theme{
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme img {
  margin: 8px;
}

@media (min-width: 768px) {
    .background {
        background-image: url('../assets/tablet/bg-pattern-header .svg');
        background-size: cover;
        height: 10rem;
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1024px) {
    .background {
        background-image: url('../assets/desktop/bg-pattern-header.svg');
        background-size: cover;
        height: 10rem; 
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}

