.header{
    height: 7.5rem;
  display: flex;
  align-items:center;
  width: 100%;
  position: relative;
  padding: 0 10% 0 10%;
}

/* Untuk tampilan desktop */
@media (min-width: 1024px) {
    .background {
        background-image: url('../assets/desktop/bg-pattern-header.svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}

/* Untuk tampilan tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .background {
        background-image: url('../assets/tablet/bg-pattern-header .svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}

/* Untuk tampilan ponsel */
@media (max-width: 767px) {
    .background {
        background-image: url('../assets/mobile/bg-pattern-header.svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
        
    }
}