html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,main{
  display: flex;
  align-items:center;
  width: 100%;
  position: relative;
  padding: 0 10% 0 10%;
}
header{
    height: 7.5rem;
}

/* Untuk tampilan desktop */
@media (min-width: 1024px) {
    .bg-svg {
        background-image: url('./assets/desktop/bg-pattern-header.svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}

/* Untuk tampilan tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .bg-svg {
        background-image: url('./assets/tablet/bg-pattern-header .svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
    }
}

/* Untuk tampilan ponsel */
@media (max-width: 767px) {
    .bg-svg {
        background-image: url('./assets/mobile/bg-pattern-header.svg');
        background-size: cover; /* Atur ukuran latar belakang */
        height: 10rem; /* Atur ketinggian */
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-repeat: no-repeat;
        
    }
}

