.main{
  padding: 5%;
  background-color: var(--backgroundCard);
  max-width: 800px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.jobPostingInfo{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.divider{
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color:#636363 ;
}
.jobDetails{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.jobDetails div h4{
  color: #5964e0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5964e0;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  border-radius: 10px;
  }

.logoContainer{
  display: flex;
  justify-content:center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius: 10px;
  position: absolute;
  top: -25px;
}

.header{
  padding: 5%;
  background-color: var(--backgroundCard);
  max-width: 800px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.desktopHeader{
  display: none;
}
.logo{
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  border-radius: 10px;
}

.buttonHeader{
  color: #5964e0;
  background-color: var(--backgroundButton1);
  padding: 10px 20px;
  border-radius: 10px;
}

.footer{
  padding: 5%;
  background-color: var(--backgroundCard);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
}
.footer div{
  display: none;
}
.footer a{
  background-color: #5964e0;
  color: #ffffff;
  width:95%;
  text-align:center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


@media (min-width: 768px) {
  .header{
    display: none;
  }
  .desktopHeader{
    padding: 5%;
    background-color: var(--backgroundCard);
    max-width: 800px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
  }
  .desktopHeader div{
    display: flex;
    justify-content: center;
  }
  .companyWebsite{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  .companyWebsite h2{
    margin: 0;
  }
  .companyWebsite p{
    margin: 0;
  }
  .desktopLogoBackground{
    height: 80px;
    padding: 10px;
    width: 80px;
    transform: scale(2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .jobDetails{
    align-items: center;
    flex-direction: row;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer div{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer div h3{
    margin:0;
  }
  .footer div p{
    margin: 0;
  }
  .footer a{
    width: 150px;
  }
}